:root {
    --primary-color : 


}
.secondary {
    --primary-color: #00f;
    

}

button {
    background: var(--primary-color);
}

.secondary-button {
    transition: background 180ms ease-out;
    animation: slide 2s ease-in-out infinite;
}

button:hover {
    background: var(--secondary-color);
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(320px);
    }
}